

<div class="container">
  <br />
  <div class="row">
  <% beers.forEach((beer) => { %>
  <div class="card mb-3 col-4">
    <img class="card-img-top" src="<%= beer.image %>" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><%= beer.name %></h4>
      <small class="card-text"><%= beer.category %></small>
      <p class="card-text"><%= beer.description %></p>
      <a href="/beers/<%= beer.id %>/" class="btn btn-outline-secondary btn-block">See the beer</a>
      </div>
    </div>
      <% }) %>
  </div>

</div>
