<div class="container">
<% beers.forEach((beer) => { %>
<div class="container">
  <br />
  <div class="row">
    <div class="col-4">
      <img class="card-img-top logo-img" src="<%= beer.image %>" alt="Card image cap">
    </div>
    <div class="col-8">
      <h4 class="card-title"><%= beer.name %></h4>
      <hr />
      <small class="card-text"><%= beer.category %></small><br />
      <small class="card-text"><%= beer.abv %>%</small><br />
      <small class="card-text"><%= beer.description %>,</small><br />
      <div class="col-4">
      <br />
      <a href="/beers/<%= beer.id %>/" class="btn btn-outline-secondary btn-block">Find out more</a>
      </div>
    </div>
    </div>
    <hr />
    <% }) %>
  </div>
</div>
</div>
