

<div class="container">


  <div class="card-deck">
      <% Object.keys(breweries).forEach((brewery) => { %>
    <h3><%= brewery %></h3>

      <div class="card">
          <% breweries[brewery].forEach((beer) => { %>
          <img class="card-img-top card-img" src="<%= beer.image %>" alt="Card image cap">
          <div class="card-body">
          <h4 class="card-title"><a href="/beers/<%= beer.id %>"><%= beer.name %></a></a></h4>
          <p class="card-text"><%= beer.description %></p>
        </div>
      <% }) %>
    </div>
  <% }) %>

  </div>
</div>
