<div class="container mt-4">

  <div class="row">
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="<%= beer.image %>" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= beer.name %></h4>
          <p class="card-text"><%= beer.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= beer.category %></li>
          <li class="list-group-item">ABV <%= beer.abv%>%</li>
        </ul>
        <div class="card-body">
          <% if (locals.isAuthenticated) { %>
            <a href="/beers/<%= beer.id %>/edit" class="btn btn-outline-secondary btn-block">Edit</a>
            <br />
            <form method="POST" action="/beers/<%= beer.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger btn-block">Delete</button><br>
            </form>
            <small class="text-muted text-center">Created by <a href="/users/<%= user.id %>"><%= beer.createdBy.username %></a></small>
            </div>
            <% } %>
          </div>
        </div>

        <div class="col-8">
        <h3><%= beer.name %> Reviews</h3>
          <% beer.comments.forEach((comment) => { %>
          <div class="card">
            <div class="card-header">
              <small class="text-muted">Review left by <a href="/users/<%= user.id %>"><%= comment.createdBy.username %></a></small>
            </div>
            <div class="card-body">
              <p class="card-text"><%= comment.content %></p>

              <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
              <form method="POST" action="/beers/<%= beer.id %>/comments/<%= comment.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
            <% } %>

          </div>
          <hr />
          <% }) %>

        <% if(locals.isAuthenticated) { %>
          <form method="POST" action="/beers/<%= beer.id %>/comments">
            <textarea class="col-12" name="content" id="content" placeholder="Leave a review..." required maxlength="255" rows="5"></textarea><br />
            <button class="btn">Submit</button>
          </form>
        <% } %>
      </div>
  </div>
</div>
